* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(#ffffff, #FFEFDB);
    min-height: 100%;
    text-align: center;
    font-family: "Lexend", sans-serif;
    padding: 0;
}

.news {
    padding: 20px 0;
    width: 100%;
    color: #ffffff;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
.headerr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    width: 100%;
}

ul>li {
    list-style: none;
    text-decoration: none;
    font-size: 3rem;
    padding: 1.2em 0;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: darkgrey;
}

ul a:active {
    color: #f89a28;
}

#author-logo {
    width: 40vw;
}
.off-screen-menu {
    background-color: rgba(255, 255, 255, .9);
    height: 100vh;
    width: 100%;
    font-weight: 150;
    font-size: 1rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;
    transform: translateX(100%);
    z-index: 1000;
}
.off-screen-menu.active {
    right: 0;
    transform: translateX(0);
}
nav {
    padding: 1rem;
    display: flex;
    z-index: 1001;
}
body.menu-open {
    overflow: hidden;
}
.hamburger {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    

}
.hamburger span {
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.hamburger span:nth-child(1) {
    top: 25%;
}
.hamburger span:nth-child(3) {
    top: 75%;
}
.hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



h1 {
    font-size: 3.5rem;
    margin: 100px auto;
}

.book-list .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    padding: 0 0.1em;
}

.title h2 {
    font-size: 2.8rem;
    font-family: 'Noto Serif Display', sans-serif;
    padding: 0 1em;
    text-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    color: black;
}
.book-list img {
    width: 350px;
    margin: 25px;
}

.book {
    margin: 0 auto 250px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 10px 10px 20px gainsboro;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

footer {
    background-color: #824147;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social i {
    font-size: 2rem;
    margin: auto 10px;
    color: #ffffff;
}

.social a {
    text-decoration: none;
}

.copyright {
    font-weight: 200;
    font-size: 2rem;
    color: #ffffff;
}












@media (min-width: 768px) {
    
body {
    background: linear-gradient(#ffffff, #FFEFDB);
    min-height: 100%;
    font-family: "Lexend", sans-serif;
    padding: 0;
}

.news {
    padding: 5px 0;
    width: 100%;
    color: #ffffff;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
}


.hamburger {
    display: none;
}

.off-screen-menu {
    position: static;
    transform: none;
    height: auto;
    width: auto;
    background: none;
    z-index: auto;
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
}

ul>li {
    font-size: 1rem;
    margin: auto 1.5em;
}

#author-logo {
    width: 15vw;
}

.book-list {
    text-align: left;
    padding: 0 200px;
}

.book-list h1 {
    font-size: 2.5rem;
}
.book {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    max-width: none;
    flex-wrap: wrap;
}

.book img {
    width: 200px;
}

footer {
    justify-content: space-between;
    margin-top: 100px;
}
.copyright {
    font-size: 1rem;
    margin-right: 50px;
}

.social i {
    font-size: 1.5rem;
    margin: auto 30px;
}

.social {
    margin-left: 50px;
}

}