* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(#ffffff, #FFEFDB);
    min-height: 100%;
    text-align: center;
    font-family: "Lexend", sans-serif;
    padding: 0;
}

.news {
    padding: 20px 0;
    width: 100%;
    color: #ffffff;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
.headerr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    width: 100%;
}

ul>li {
    list-style: none;
    text-decoration: none;
    font-size: 3rem;
    padding: 1.2em 0;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: darkgrey;
}

ul a:active {
    color: #f89a28;
}

#author-logo {
    width: 40vw;
}
.off-screen-menu {
    background-color: rgba(255, 255, 255, .9);
    height: 100vh;
    width: 100%;
    font-weight: 150;
    font-size: 1rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;
    transform: translateX(100%);
    z-index: 1000;
}
.off-screen-menu.active {
    right: 0;
    transform: translateX(0);
}
nav {
    padding: 1rem;
    display: flex;
    z-index: 1001;
}
body.menu-open {
    overflow: hidden;
}
.hamburger {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    

}
.hamburger span {
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.hamburger span:nth-child(1) {
    top: 25%;
}
.hamburger span:nth-child(3) {
    top: 75%;
}
.hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



.backg {
    box-shadow: 10px 10px 20px gainsboro;
    flex-wrap: wrap;
    width: 650px;
    padding: 50px 0;
    margin: 0 0 100px 0;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ones {
    background: linear-gradient(#e1cc9ba5, rgba(255, 255, 255, 0.074));
}
.twos {
    background: linear-gradient(#9fc9ecc0, rgba(255, 255, 255, 0.074));
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
}
.new-book, .last-book {
    width: 300px;
}
h1 {
    font-family: 'Noto Serif Display', sans-serif;
    font-size: 4rem;
    margin: 0.1em 0;
}
h2 {
    font-size: 2.5rem;
    margin: 0 0;
}
.txt >p {
    font-size: 3rem;
    margin: 0.4em 0 0 0;
    font-weight: 300;
}

.reviews {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    margin: 0 auto;
    padding: 0 20px;
}
.reviews>div {
    padding: 0 50px;
    font-size: 2rem;
    font-weight: 200;
    align-content: center;
}

.reviews>div>p>span {
    font-style: italic;
    font-weight: 400;
}

.rev {
    font-size: 2.2rem;
    font-weight: 600;
}

footer {
    background-color: #824147;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social i {
    font-size: 2rem;
    margin: auto 10px;
    color: #ffffff;
}

.social a {
    text-decoration: none;
}

.copyright {
    font-weight: 200;
    font-size: 2rem;
    color: #ffffff;
}




@media (min-width: 768px) {
    
body {
    background: linear-gradient(#ffffff, #FFEFDB);
    min-height: 100%;
    font-family: "Lexend", sans-serif;
    padding: 0;
}

.news {
    padding: 5px 0;
    width: 100%;
    color: #ffffff;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
}


.hamburger {
    display: none;
}

.off-screen-menu {
    position: static;
    transform: none;
    height: auto;
    width: auto;
    background: none;
    z-index: auto;
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
}

ul>li {
    font-size: 1rem;
    margin: auto 1.5em;
}

#author-logo {
    width: 15vw;
}

.backg img {
    width: 200px
}

.backg {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 900px;
    
}

.book {
    padding-bottom: 0;
}

.txt h1 {
    font-size: 4rem;
    font-weight: 400;
}
.txt h2 {
    font-size: 2rem;
}

.txt p {
    font-size: 2.5rem;
    font-weight: 200;
}

.reviews {
    display: flex;
    flex-direction: row;
    margin: 200px auto;
}

.reviews p {
    font-size: 1.2rem;
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 500;
}


.reviews .rev {
    font-family: "Lexend", sans-serif;
    padding-bottom: 20px;
}

footer {
    justify-content: space-between;
    margin-top: 100px;
}
.copyright {
    font-size: 1rem;
    margin-right: 50px;
}

.social i {
    font-size: 1.5rem;
    margin: auto 30px;
}

.social {
    margin-left: 50px;
}

}